
body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
li, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #626161;
  text-decoration: none;
}



header.other_page {
  background-image: url("background2.png");
  background-size: 100%;
  height:40%;
  background-repeat:no-repeat;

}
header.index_page {
  background-image: url("background.png");
  background-size: 100%;
  height:100%;
  background-repeat:no-repeat;
}
.logo_container{
   position:absolute;
   left: 10%;
   top:5%;

}
.logo a{
  cursor:pointer;
}

.nav_links{
  position: absolute;
  right: 10%;
  top:5%;

}

.nav_links li{
  display: inline-block;
  padding:0px 20px;
}

.nav_links li a
{
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover
{
   color: #000000;
}

.text-container{
  padding-top:20%;
  padding-left:15%;
  line-height: 2em;
  padding-bottom:20%;
}
h1.main_title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12vw;
  z-index:1;
}
.resume_title_container{
  text-align:center;
}
h1.resume_title{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:8vw;
}

h2.introduction{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5vw;

}



.flower_container{
  margin: 10% 10%;
}
.flower_web{
  box-shadow: 4px 4px 30px #5e5e5e;
}

.poster_container{
  margin:0 auto;
}
.easyfind_container{
  margin: 10% 10%;
}
.easyfind{
  box-shadow: 4px 4px 30px  #5e5e5e;
}
.first_row{
  text-align: center;
  margin-bottom:10%;
}
.family_container, .singapore_container{
  display:inline-block;
  text-align: center;
  width: 45%
}
.family{
  box-shadow: 4px 4px 30px #5e5e5e;
}
.singapore{
  box-shadow: 4px 4px 30px #5e5e5e;
}
.second_row{
  text-align: center;
  margin-bottom:10%;
}
.monterey_container, .carmel_container{
  display:inline-block;
  text-align: center;
  width: 45%;
}
.monterey{
  box-shadow: 4px 4px 30px #5e5e5e;
}

.carmel{
  box-shadow: 4px 4px 30px #5e5e5e;
}

.third_row{
  text-align: center;
  margin-bottom:10%;
}
.sjsu_container, .wedding_container{
  display:inline-block;
  text-align: center;
  width: 45%;
}
.sjsu{
  box-shadow: 4px 4px 30px #5e5e5e;
}

.wedding{
  box-shadow: 4px 4px 30px #5e5e5e;
}


.resume_container{
  margin:5%;
  margin-right:15%;
  margin-left:15%;
}
.resume{
  box-shadow: 4px 4px 30px #5e5e5e;
}

.button{
   text-align: center;
   margin-top:10%;
}

.download a: hover{
  color: #000000;
}
.download{
  border: 3px solid #565555;
  background: none;
  padding: 10px 20px;
  font-size: 50px;
  cursor: pointer;
}
header.flower_page{
  background: none;
  margin-top:20%;

}
header.easyfind_page{
  background: none;
  margin-top:20%;
}
.flower_page_title{
  color:#434343;
  margin-top:5%;
  margin-bottom:10%;
  margin-left:10%;
  font-family:'Source Sans Pro', sans-serif;
  font-size:1vw;
  line-height:0.5em;
}
.easyfind_page_title{
  color:#434343;
  margin-top:5%;
  margin-bottom:10%;
  margin-left:10%;
  font-family:'Source Sans Pro', sans-serif;
  font-size:1vw;
  line-height:0.5em;
}
h2.small_title{
  color:black;
  margin-top:10%;
  text-align: center;
  font-family:'Source Sans Pro', sans-serif;
  font-size:1.5vw;
}
p.content{
  line-height:2;
   margin-left:20%;
   margin-right:20%;
   color: #434343;
   text-align: center;
   font-family:'Source Sans Pro', sans-serif;
   font-size:1vw;
}
ol li{
  line-height:2;
  font-size:1vw;
  margin-left:20%;
  margin-right:20%;
  color: #434343;
  text-align: left;
}
.previous {
  margin-left:40%;
  font-size: 1.5vw;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding:20px;
}
.next {
  font-size: 1.5vw;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding:20px;
  margin-right:40%;
  float:right;
}

.footer{
  font-size: 0.8vw;
  position: relative;
  text-align: center;
  margin-top:15%;
  margin-bottom:10%;
}
